{% load static %}


{% block head %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Denel. - Onepage Personal Template">
    <meta name="author" content="Paul">

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'webapp/css/jquery.pagepiling.min.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/css/style.css' %}">

    <title>Denzel. - Onepage Personal Template</title>
  </head>

{% endblock %}

   <!-- Loader -->
   <div class="loader">
    <div class="spinner"><div class="double-bounce1"></div><div class="double-bounce2"></div></div>
   </div>

    <!-- Click capture -->
   <div class="click-capture"></div>

    <!-- Navbar -->
    <nav  class="navbar navbar-desctop">
      <div class="position-relative w-100">

	    <!-- Brand-->
	    <a class="navbar-brand" href="#">Denzel.</a>
		<div class="container d-block">
	      <span class="phone  my-0 d-none d-md-block">+7 325 653 23 37</span>
	        <span class="email  my-0 d-none d-md-block">Denzel.design@gmail.com</span>
		</div>

	    <!-- Toggler -->
	    <button class="toggler">
	      <span class="toggler-icon"></span>
	      <span class="toggler-icon"></span>
	      <span class="toggler-icon"></span>
	    </button>
	  </div>
	</nav>


    <nav class="navbar-bottom">
	  <div class="social">

	    <!-- Social -->
	    <ul class="social-icons mr-auto mr-lg-0 d-none d-sm-block">
	      <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
	      <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
	      <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
	     </ul>
	  </div>

	  <!-- Copyright -->
	  <div class="copy d-none d-sm-block">© Denzel. 2020.</div>
    </nav>

    <!-- Navbar Mobile -->
    <nav  class="navbar navbar-mobile">
      <ion-icon class="close" name="close-outline"></ion-icon>

      <!-- language -->
      <ul class="language">
         <li class="active"><a href="#">ENG</a></li>
         <li><a href="#">FRA</a></li>
         <li><a href="#">GER</a></li>
      </ul>

      <ul class="navbar-nav navbar-nav-mobile">
        <li class="active"><a class="nav-link active" data-menuanchor="home" href="#home">Home</a></li>
        <li><a class="nav-link" data-menuanchor="about" href="#about">About</a></li>
        <li><a class="nav-link" data-menuanchor="experience" href="#experience">Experience</a></li>
        <li><a class="nav-link" data-menuanchor="skills" href="#skills">Skills</a></li>
        <li><a class="nav-link" data-menuanchor="projects" href="#projects">Projects</a></li>
        <li><a class="nav-link" data-menuanchor="partners" href="#partners">Partners</a></li>
        <li><a class="nav-link" data-menuanchor="testimonials" href="#testimonials">Testimonials</a></li>
        <li><a class="nav-link" data-menuanchor="news" href="#news">News</a></li>
        <li><a class="nav-link" data-menuanchor="contact" href="#contact">Contact</a></li>
      </ul>
      <div class="navbar-mobile-footer">
        <p>© Denzel. 2020. All Rights Reserved.</p>
      </div>
    </nav>

    <div id="pagepiling">


{% block content %}{% endblock %}

  <!-- Scrollbar -->
   <div class="progress-nav">
    <ul class="navbar-nav">
      <li data-menuanchor="home" class="active"></li>
      <li data-menuanchor="about"></li>
      <li data-menuanchor="experience"></li>
      <li data-menuanchor="skills"></li>
      <li data-menuanchor="projects"></li>
      <li data-menuanchor="partners"></li>
      <li data-menuanchor="testimonials"></li>
      <li data-menuanchor="news"></li>
      <li data-menuanchor="contact"></li>
    </ul>
  </div>

  <!-- Optional JavaScript -->
  <script src="{% static 'webapp/js/jquery-1.12.4.min.js' %}"></script>
  <script src="{% static 'webapp/js/popper.min.js' %}" ></script>
  <script src="{% static 'webapp/js/bootstrap.min.js' %}"></script>
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
  <script src="{% static 'webapp/js/jquery.validate.min.js' %}"></script>
  <script src="{% static 'webapp/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'webapp/js/jquery.pagepiling.min.js' %}"></script>
  <script src="{% static 'webapp/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'webapp/js/interface.js' %}"></script>