{% load static %}


{% block head %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Denel. - Onepage Personal Template">
    <meta name="author" content="Paul">

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'webapp/css/jquery.pagepiling.min.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/css/style.css' %}">

    <title>Denzel. - Onepage Personal Template</title>
  </head>

{% endblock %}


{% block content %}{% endblock %}

  <!-- Scrollbar -->
   <div class="progress-nav">
    <ul class="navbar-nav">
      <li data-menuanchor="home" class="active"></li>
      <li data-menuanchor="about"></li>
      <li data-menuanchor="experience"></li>
      <li data-menuanchor="skills"></li>
      <li data-menuanchor="projects"></li>
      <li data-menuanchor="partners"></li>
      <li data-menuanchor="testimonials"></li>
      <li data-menuanchor="news"></li>
      <li data-menuanchor="contact"></li>
    </ul>
  </div>

  <!-- Optional JavaScript -->
  <script src="{% static 'webapp/js/jquery-1.12.4.min.js' %}"></script>
  <script src="{% static 'webapp/js/popper.min.js' %}" ></script>
  <script src="{% static 'webapp/js/bootstrap.min.js' %}"></script>
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
  <script src="{% static 'webapp/js/jquery.validate.min.js' %}"></script>
  <script src="{% static 'webapp/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'webapp/js/jquery.pagepiling.min.js' %}"></script>
  <script src="{% static 'webapp/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'webapp/js/interface.js' %}"></script>